body {
  background-color: #e3f2fd; /* azul hielo */
  color: #2c3e50;
}

header {
  background-color: #61b172; /* azul intenso */
  color: #ffffff;
  text-align: center;
}

section {
  background-color: #263238; /* gris azulado oscuro */
  color: #ffffff;
        padding: 20px;
      margin: 10px auto;
      max-width: 800px;
      border-radius: 10px;
}

  a:link {
      color: darkseagreen;
  }

  a:visited {
      color: deeppink;
  }

  a:hover {
      color: ghostwhite;
      margin: 10px;
  }

  a:active {
      color: coral;
      margin: 10px;
  } 

footer{
    text-align: center;
}

    /* Responsive */
    @media (max-width: 600px) {
      section {
        padding: 15px;
        margin: 5px;
      }
    }
