/* Fondo general */
body {
    background-color: #1d2124;
    /* azul hielo */
    color: #2c3e50;
}

header {
    background-color: #1d2124;
    /* azul intenso */
    color: #ffffff;
    text-align: center;
}

section {
    background-color: #263238;
    /* gris azulado oscuro */
    color: #ffffff;
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    border-radius: 10px;
}

nav {
    background-color: #1d2124;
    padding: 10px 20px;
}

#titulo {
    margin-top: 70px;
    margin-left: 350px;
      color: #ffffff;
      font-size: 20px;
}

#especialidad {
    margin-left: 350px;
      color: #ffffff;
      margin-bottom: 300px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 50px;
    padding-left: 750px;
}

.menu li {
    color: white;
    font-size: 18px;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.menu li.active .dot{
    position: absolute;
    left: 0;
    top: 50%;
    transform:  translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #4caf50;
    border-radius: 50%;
}

.menu li:hover {
    color: #4caf50;
}

a:link {
    color: darkseagreen;
}

a:visited {
    color: deeppink;
}

a:hover {
    color: ghostwhite;
    margin: 10px;
}

a:active {
    color: coral;
    margin: 10px;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

/* Responsive */
@media (max-width: 600px) {
    section {
        padding: 15px;
        margin: 5px;
    }
}