@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
    scroll-behavior: smooth;
}

:root {
    --text-color: #eaeaea;
    --bg-color: #121212;
    --bg-color-section: #3a3a4a;

    --accent-color: #00ffff;
    --hover-color: #ff00ff;

    --border-color: #2c2c2c;
    --shadow-color: rgba(0, 0, 0, 0.3);

    --title-color: #6f42c1;

    --linkedin-border: #00FFFF;
    --github-border: #9811ce;

}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    z-index: 1000;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    position: sticky;
    top: 0;
}

nav {
    padding-top: 3%;
    padding-bottom: 1%;
    border-radius: 15px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2.5%;
}

.menu li {
    color: var(--text-color);
    font-size: 36px;
    position: relative;
    padding-left: 1.5%;
    cursor: pointer;
}

.menu li .dot {
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

.menu li.active .dot {
    display: inline-block;
}

.menu li:hover {
    color: var(--hover-color);
}

section {
    background-color: #3a3a4a;
    color: var(--text-color);
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    margin: 10px auto;
    width: 100%;
    max-width: 1600px;
    min-width: 300px;
    border-radius: 20px;
    /* revisar contraste de sombra de contenedores */
    box-shadow: 1px 1px 1px 1px #2c2c2c;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--github-border);
}

a:visited {
    color: var(--github-border);
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

/* elegir un mejor color para el link activo */
a:active {
    color: var(--accent-color);
    text-decoration: underline;
}

#home {
    scroll-margin-top: 170px;
}

.efect-in {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo visual para los iconos */
.efect-in img {
    border: 2px solid var(--linkedin-border);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto al pasar el cursor */
.efect-in img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px var(--shadow-color);
}

.efect-git {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo visual para los iconos */
.efect-git img {
    border: 2px solid var(--github-border);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto al pasar el cursor */
.efect-git img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px var(--shadow-color)
}

.d-flex-custom {
    /* Luego de configuracion cambiar a tama#o variable % */
    margin-top: 70px;
    margin-bottom: 100px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px var(--shadow-color);
}

.d-flex-bg-custom {
    /* color temporal */
    background-color: rgb(11, 26, 26);
}

/* #section-of-accordion {
    Para futuras personalizaciones de la seccion What i do?
} */

.accordion-title {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 1%;
}

.accordion-custom {
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--shadow-color);
    max-width: 600px;
    max-height: 800px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.accordion-item {
    margin-bottom: 2%;
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--shadow-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
}

.accordion-button {
    background-color: #2c2c3c;
    color: #e0e0e0;
    border-left: 4px solid #9811ce;
}

.accordion-button:not(.collapsed) {
    background-color: #3a3a4a;
    color: #ffffff;
    border-left: 4px solid #00FFFF;
}

#projects-title {
    text-align: center;
    scroll-margin-top: 210px;
}

#projects-container-with-images img {
    /* contenedor recibe de la clase section su ancho y el object-fit: cover se encarga de que la imagen se adap te al tama#o del contenedor con la ayuda de su fila, columna y img-fluid de Boottraps*/
    margin-top: 6%;
    margin-bottom: 4%;
    height: 300px;
    object-fit: cover;
}

#projects-container-with-images .col:first-child img {
    box-shadow: 0 0 12px var(--accent-color);
}

#projects-container-with-images .col:last-child img {
    box-shadow: 0 0 12px var(--github-border);
}

#skill {
    padding-left: 3%;
}

#contact {
    padding-left: 3%;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-color);
}


@media (min-width: 850px) and (max-width: 1200px) {

    .menu li {
        color: var(--text-color);
        font-size: 25px;
        position: relative;
        padding-left: 2.5%;
        cursor: pointer;
    }

    .efect-in {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 1%;
    }

    .efect-git {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 11%;
    }

    .accordion-title {
        margin-top: 1%;
        margin-left: 6%;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #projects-container-with-images img {
        margin-top: 6%;
        margin-bottom: 4%;
        height: 250px;
        object-fit: cover;
    }

}

@media (min-width: 630px) and (max-width: 849px) {

    .menu li {
        color: var(--text-color);
        font-size: 24px;
        position: relative;
        padding-left: 2.5%;
        cursor: pointer;
    }

    .efect-in {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 1%;
    }

    .efect-git {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 12%;
    }

    .accordion-title {
        margin-top: 1%;
        margin-left: 8%;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #projects-container-with-images img {
        margin-top: 6%;
        margin-bottom: 4%;
        height: 230px;
        object-fit: cover;
    }

}

@media (min-width: 530px) and (max-width: 629px) {

    .menu li {
        color: var(--text-color);
        font-size: 23px;
        position: relative;
        padding-left: 3%;
        cursor: pointer;
    }

    .efect-in {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 1%;
    }

    .efect-git {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 20%;
    }

    .accordion-title {
        margin-top: 1%;
        margin-left: 10%;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #projects-container-with-images img {
        margin-top: 6%;
        margin-bottom: 4%;
        height: 200px;
        object-fit: cover;
    }

}

@media (min-width: 430px) and (max-width: 529px) {

    .menu li {
        color: var(--text-color);
        font-size: 21px;
        position: relative;
        padding-left: 4%;
        cursor: pointer;
    }

    .efect-in {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 1%;
    }

    .efect-git {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 20%;
    }

    .accordion-title {
        margin-top: 1%;
        margin-left: 12%;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #projects-container-with-images img {
        margin-top: 6%;
        margin-bottom: 4%;
        height: 190px;
        object-fit: cover;
    }

}


@media (min-width: 346px) and (max-width: 429px) {

    .menu li {
        color: var(--text-color);
        font-size: 20px;
        position: relative;
        padding-left: 5%;
        cursor: pointer;
    }

    .efect-in {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 1%;
    }

    .efect-git {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 19%;
    }

    .accordion-title {
        margin-top: 1%;
        margin-left: 14%;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #projects-container-with-images img {
        margin-top: 6%;
        margin-bottom: 4%;
        height: 180px;
        object-fit: cover;
    }

}


@media (max-width: 345px) {

    .menu li {
        color: var(--text-color);
        font-size: 18px;
        position: relative;
        padding-left: 5%;
        cursor: pointer;
    }

    .efect-in {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 1%;
    }

    .efect-git {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding-bottom: 16%;
    }

    .accordion-title {
        margin-top: 1%;
        margin-left: 16%;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #projects-container-with-images img {
        margin-top: 6%;
        margin-bottom: 4%;
        height: 150px;
        object-fit: cover;
    }
}