@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1d2124;
    color: #2c3e50;
}

header {
    background-color: #1d2124;
    color: #ffffff;
    text-align: center;
    position: sticky;
    top: 0;
}

nav {
    padding: 10px 20px;
    border: 5px rgb(170, 170, 173) solid;
    border-radius: 15px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li {
    color: white;
    font-size: 18px;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.menu li.active .dot {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #4caf50;
    border-radius: 50%;
}

.menu li:hover {
    color: #4caf50;
}

.mt-custom-1 {
    margin-bottom: 60px;
}

.mt-custom-1 {
    margin-top: 200px;
}

.mb-custom {
    margin-bottom: 60px;
}

.custom-text {
 color: #6f42c1;
}

.bg-custom-1 {
    background-color: #263238;
}

#titulo {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#especialidad {
    color: #ffffff;
    font-size: 2rem;
;
}

#style {
list-style: none;
}

section {
    background-color: #263238;
    color: #ffffff;
    padding: 20px;
    margin: 10px auto;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
}

a:link {
    color: rgb(114, 107, 202);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: ghostwhite;
    margin: 10px;
}

a:active {
    color: coral;
    margin: 10px;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

/* Responsive */
@media (max-width: 600px) {

    body,
    header {
        padding: 15px;
        margin: 5px;
    }
}